<footer>
    <div class="container">
        <div>Gutenberg</div>
        <div>Contacto</div>
        <div>Política de privacidad</div>
        <div>Guía de compra</div>
        <div>Atención al cliente</div>
        <div>Promociones</div>
        <div>Preguntas frecuentes</div>
        <div class="copyright">
            <h6>Copyright © 2022 Gutenberg Libros S.A.</h6>
        </div>
</footer>