<header>
    <div class="contenedor">
        <img class="logo" src="/images/isologomoradosmall.png" alt="gutenberg logo">
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">
            <a class="active" href="/">Inicio</a>
            <a href="#">Géneros</a>
            <a href="#">Ofertas</a>
            <!---- Listado de Productos--->
           <!---- <a href="#">Crowfounding</a> Se comenta para poder visualizar todo el menu hambuguesa  (vista administrador)-->
            <a href="/product/detalle-producto">Detalle producto</a>
            <a href="/product/carrito-compras">Carrito de compras</a>
            <a href="/user/registro">Registro</a>
            <a href="/user/login">Login</a>  
            <a href="/product/edit">Editar Productos</a> 
            <a href="/product/create">Crear Productos</a>               
        </nav>
    </div>
    <div class="lowerbar">  
        <form>
            <input class="searchbox" type="text" placeholder="Buscar">
            <button type="submit" class="fa fa-search"></button>
          </form>
        </div>
    </div>
</header>