<head>
    <title>Gutenberg Libros</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/registro.css">
    <link rel="stylesheet" href="/stylesheets/carrito-compras.css">
    <link rel="stylesheet" href="/stylesheets/detalleStyle.css">
    <link rel="stylesheet" href="/stylesheets/styledetails.css">
    <script src="https://kit.fontawesome.com/c1eae85dfa.js" cross></script>
</head>