<header>
    <div class="contenedor">
        <img class="logo" src="/images/isologomoradosmall.png" alt="gutenberg logo">
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">
            <a class="active" href="/">Inicio</a>
            <a href="/ofertas">Ofertas</a>
            <a href="/product/listado-productos">Listado de Productos</a>

            <% if(locals.userLocals){ %>
                <a class="nav-link active" aria-current="page" href="/user/perfil">Perfil</a>
                <a href="/product/carrito-compras/3">Carrito de compras</a>

                <% }else{ %>
                    <a class="nav-link active" aria-current="page" href="/user/login">Login</a>
                    <a class="nav-link active" aria-current="page" href="/user/registro">Registro</a>
                    <% } %>

                        <% if(locals.userLocals){ %>
                            <div>
                                <form class="create-logout" action="/user/logout" method="post">
                                    <button type="submit" class="menu">Cerrar Sesion</button>
                                    <br>
                                </form>
                            </div>
                            <div>
                                <p class="active"> Bienvenido/a <%= userLocals.nombres %>
                                </p>
                            </div>
                            <% } %>

        </nav>
    </div>
    <div class="lowerbar">
        <form>
            <input class="searchbox" type="text" placeholder="Buscar">
            <button type="submit" class="fa fa-search"></button>
        </form>
    </div>
    </div>
</header>