<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <header>
            <%- include('./partials/header') %>
        </header>
        <div class="sieteMaridos">
            <img src="/images/sieteMaridos_1.svg">
        </div>
        <div class= "titulo">
            LOS SIETE MARIDOS DE EVELYN HUGO
        </div>
        <span class="autor" >Autor:</span><span  style="color: black">Jenkins Reid Taylor</span>
        <span class= "editorial">Editorial:</span><span style="color: black">UMBRIEL</span> 
        
        <div class="compra">
            <div class="precio">
                <h2>AR$ 2.190,00</h2>
           </div>
           <div class="agregarProducto">
                <img class="cartmas" width= "80" src="/images/cartmas.svg"> <h2>AGREGAR AL CARRITO</h2>
           </div>
           <div class="envio">
                <img class="truck" width= "50" src="/images/bx_bxs-truck.svg"><h2>Costos de envío</h2>
           </div>
           <div class="metodos">
                <img class="check" width= "50" src="/images/fa-solid_money-check-alt.svg"> <h2>Métodos de pago</h2>
           </div>
        </div>
    
        <div class="resenia">
            <span class="res" style="color: black">Reseña del libro</span>
            <span  class= "ress"style="color:#f68c5f" > LOS SIETE MARIDOS DE EVELYN HUGO</span>
            <div class="textoRes">
                <p>
                    Evelyn Hugo, el ícono de Hollywood que se ha recluido en su 
                    edad madura, decide al fin contar la verdad sobre su vida llena
                    de glamour y de escándalos. Pero cuando elige para ello a
                    Monique Grant, una periodista desconocida, nadie se
                    sorprende más que la misma Monique. Por qué ella? Por qué
                    ahora ? Monique no está precisamente en su mejor momento.
                    Su marido la abandonó, y su vida profesional no avanza. Aún
                    ignorando por que Evelyn la ha elegido para escribir su
                    biografía. Monique esta decidida a aprovechar esa oportunidad
                    para dar impulso a su carrera. Convocada al lujoso
                    apartamento de Evelyn, Monique escucha fascinada mientras
                    la actriz le cuenta su historia. Desde su llegada a Los Angeles
                    en los años 50 hasta su decisión de abandonar su carrera en el
                    espectáculo en los 80 - y desde luego, los siete maridos que
                    tuvo en ese tiempo - Evelyn narra una historia de ambición
                    implacable, amistad inesperada y un gran amor prohibido. 
                </p>
            </div>
    
            <div class="detalle">
                <span class="deta" style="color: black">Detalles de</span>
                <span class="au" style="color:#f68c5f">LOS SIETE MARIDOS DE EVELYN HUGO</span>
            </div>
    
            <div class="descripcion">
                <ul style="list-style: none;">
                    <li>Número de páginas:384</li>
    
                    <li>Peso:510</li>
                    
                    <li>Formato:Rústica</li>
                     
                    <li>Edición:2020</li>
                    
                    <li>Idioma:Castellano</li>
                    
                    <li>ISBN:9789874777737</li>
                </ul>
           </div>    
        </div>
        <footer>
            <%- include('./partials/footer') %>
        </footer>
        
    </body>
