<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <section class="title">
            <h2>OFERTAS DE LA SEMANA</h2>
        </section>   
        <section class="books">
                    <div class="container">
                        <article>
                            <a href="/product/detalle-producto/1">
                            <img src="../images/sieteMaridos_1.svg" alt="" ><br>
                            <h3>LOS 7 MARIDOS DE EVELYN HUGO</h3>
                            <h4>Taylor Jenkins Reid</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 2.190</h5>
                            </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/2">
                            <img src="../images/heartstopper_1.svg" alt=""><br>
                            <h3>HEARTSTOPPER</h3>
                            <h4>Alice Oseman</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 3.000</h5>
                            </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/3">
                            <img src="../images/clubPsicopatas_1.svg" alt=""><br>
                            <h3>EL CLUB DE LOS PSICÓPATAS</h3>
                            <h4>John Katzenbach</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 3.500</h5>
                            </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/4">
                            <img src="../images/libroMasLindoDelMundo_2.svg" alt=""><br>
                            <h3>EL LIBRO MAS LINDO DEL MUNDO</h3>
                            <h4>Rosario Oyhanarte</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 2.600</h5>
                            </a>
                        </article>
                    </div>
        </section>
        <section class="title">
            <h2>CROWFOUNDING</h2>
        </section>
        <section class="books">
            <div class="container">
                <article>
                    <a href="/product/detalle-producto/5">
                    <img src="../images/laVidaInvisible_1.svg" alt=""><br>
                    <h3>LA VIDA INVISIBLE</h3>
                    <h4>V.E. Schwab</h4>
                    <h5>Libro</h5>
                    <h5>AR$ 2.500</h5>
                    </a>
                </article>
                <article>
                    <a href="/product/detalle-producto/6">
                    <img src="../images/todoLoQueNuncaFuimos_1.svg" alt=""><br>
                    <h3>TODO LO QUE NUNCA FUIMOS</h3>
                    <h4>Alice Kellen</h4>
                    <h5>Libro</h5>
                    <h5>AR$ 2.100</h5>
                    </a>
                </article>
            </div>
        </section>
        <%- include('./partials/footer') %>
    </body>