<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <header>
            <%- include('./partials/header') %>
        </header>
        <section class="title">
            <h2>LISTADO DE PRODUCTOS</h2>
        </section>   
        <section class="books">
                    <div class="container">
                        <article>
                            <a href="/product/detalle-producto/1">
                            <img src="../images/sieteMaridos_1.svg" alt=""><br>
                            <h3>LOS 7 MARIDOS DE EVELYN HUGO</h3>
                            <h4>Taylor Jenkins Reid</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 2.190</h5>
                        </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/2">
                            <img src="../images/heartstopper_1.svg" alt=""><br>
                            <h3>HEARTSTOPPER</h3>
                            <h4>Alice Oseman</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 3.000</h5>
                        </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/3">
                            <img src="../images/clubPsicopatas_1.svg" alt=""><br>
                            <h3>EL CLUB DE LOS PSICÓPATAS</h3>
                            <h4>John Katzenbach</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 3.500</h5>
                        </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/4">
                            <img src="../images/libroMasLindoDelMundo_2.svg" alt=""><br>
                            <h3>EL LIBRO MAS LINDO DEL MUNDO</h3>
                            <h4>Rosario Oyhanarte</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 2.600</h5>
                        </a>
                        </article>
                       <article>
                            <a href="/product/detalle-producto/7">
                            <img src="../images/losCuatroAcuerdos.png" alt=""><br>
                            <h3>LOS CUATRO ACUERDOS</h3>
                            <h4>Ruiz Miguel</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 2.090</h5>
                        </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/8">
                            <img src="../images/malEducadas.png" alt=""><br>
                            <h3>MAL EDUCADAS</h3>
                            <h4>María Florencia Freijó</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 1.670</h5>
                        </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/9">
                            <img src="../images/boulevard.png" alt=""><br>
                            <h3>Boulevard</h3>
                            <h4>Flor Salvador</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 2.199</h5>
                        </a>
                        </article>
                        <article>
                            <a href="/product/detalle-producto/10">
                            <img src="../images/lasCosasQuePerdimos.png" alt=""><br>
                            <h3>LAS COSAS QUE PERDIMOS EN EL FUEGO</h3>
                            <h4>Mariana Enriquez</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 1.495</h5>
                        </a>
                        </article>  
                        <article>
                            <a href="/product/detalle-producto/11">
                            <img src="../images/reinoDePapel.png" alt=""><br>
                            <h3>REINO DE PAPEL</h3>
                            <h4>Vicoria Resco</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 1.799</h5>
                        </a>
                        </article> 
                        <article>
                            <a href="/product/detalle-producto/12">
                            <img src="../images/violeta.png" alt=""><br>
                            <h3>VIOLETA</h3>
                            <h4>Isabel Allende</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 3.499</h5>
                        </a>
                        </article> 
                        <article>
                            <a href="/product/detalle-producto/13">
                            <img src="../images/laBailarina.png" alt=""><br>
                            <h3>LA BAILARINA DE AUSCHWITZ</h3>
                            <h4>Edith Eva Eger</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 2.390</h5>
                        </a>
                        </article> 
                        <article>
                            <a href="/product/detalle-producto/14">
                            <img src="../images/unaObsesionPerversa.png" alt=""><br>
                            <h3>UNA OBSESIÓN PERVERSA</h3>
                            <h4>Victoria Schwab</h4>
                            <h5>Libro</h5>
                            <h5>AR$ 2.390</h5>
                        </a>
                        </article> 
                        <article>
                            <a href="/product/detalle-producto/15">
                            <img src="../images/avengers.png" alt=""><br>
                            <h3>AVENGERS</h3>
                            <h4>Steve Englehart</h4>
                            <h5>Comic Manga</h5>
                            <h5>AR$ 1.450</h5>
                        </a>
                        </article> 
                        <article>
                            <a href="/product/detalle-producto/16">
                            <img src="../images/elAmorDeMobuko.png" alt=""><br>
                            <h3>EL AMOR DE MOBUKO#1</h3>
                            <h4>Akane Tamura</h4>
                            <h5>Comic Manga</h5>
                            <h5>AR$ 1.890</h5>
                        </a>
                        </article> 
                    </div>
        </section>
       <!---- <section class="title">
            <h2>CROWFOUNDING</h2>
        </section>-->
        <section class="books">
            <div class="container">
                <article>
                    <a href="/product/detalle-producto/5">
                    <img src="../images/laVidaInvisible_1.svg" alt=""><br>
                    <h3>LA VIDA INVISIBLE</h3>
                    <h4>V.E. Schwab</h4>
                    <h5>Libro</h5>
                    <h5>AR$ 2.500</h5>
                </a>
                </article>
                <article>
                    <a href="/product/detalle-producto/6">
                    <img src="../images/todoLoQueNuncaFuimos_1.svg" alt=""><br>
                    <h3>TODO LO QUE NUNCA FUIMOS</h3>
                    <h4>Alice Kellen</h4>
                    <h5>Libro</h5>
                    <h5>AR$ 2.100</h5>
                </a>
                </article>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer') %>
        </footer>
    </body>