<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <header>
            <%- include('./partials/header') %>
        </header>
<form class="create-form" action="/user/create" method="POST" >
        <h2>Registro de Usuario</h2>
    
        <div>
            <br>
            <label>Nombres</label>
            <br>
            <input type="text" name="nombres" id="nombres" required>
        </div>

        <div>
            <br>
            <label>Apellidos</label>
            <br>
            <input type="text" name="apellidos" id="apellidos" required>
        </div>
        
        <div>
            <br>
            <label>Email</label>
            <br>
            <input type="text" name="email" id="email" required>
        </div>

        <div>
            <br>
            <label>Confirmar Email</label>
            <br>
            <input type="email" name="check_email" id="check_email"  required>
        </div>

        <div>
            <br>
            <label>Password</label>
            <br>
            <input type="password" name="password" id="password" required>
        </div>

        <div>
            <br>
            <label>Confirmar Password</label>
            <br>
            <input type="password" name="check_password" id="check_password" required>
        </div>

        <label >Categorias e Interés:</label> 
           
            <div>
                <label>Comedia</label>
                <select name="comedia" id="comedia">
                    <option value=" "></option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>

                <label>Accion</label>
                <select name="accion" id="accion"> 
                    <option value=" "></option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>

                <label>Romance</label>
                <select name="romance" id="romance"> 
                    <option value=" "></option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>

                <label>Infantiles</label>
                <select name="infantiles" id="infantiles"> Infantiles:
                    <option value=" "></option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
                
                <label>Editoriales</label>
                <select name="editoriales" id="editoriales"> 
                    <option value=" "></option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
            </div>
        </label>

        <br>
        <label for="categoria" class="form-label"> Perfil:</label>  
            <div>
                <select name="categoria" id="categoria" class="form-input">
                    <option value="">Elegí</option>
                    <option type="radio"  value="publicar libros" required>Publicar Libros</option>
                    <option type="radio"  value="leer libros" required>leer Libros</option>
                </select>        
            </div>

            <br>
            <label for="novedades" class="form-label">Recibir Novedades:</label>   
            <div>
                <select name="novedades" id="novedades" class="form-input">
                    <option type="radio"  value="si" required>Si</option>
                    <option type="radio"  value="no" required>No</option>
                </select>        
            </div>    
            
        <!--div>
            <br>
            <label> <input type="checkbox" name="novedades" value="novedades"> Si, Deseo recibir novedades</label>
        </div-->
        
        <br>
        <div>
            <br>
            <button type="submit" value="Guardar y volver al Home" class="boton-personalizado">Guardar</button>
        </div>

        <div>
            <br>
            <button type="reset" value="Borrar" class="boton-personalizado">Registrarme</button>
        </div>

    </form>
    
    <footer>
        <%- include('./partials/footer') %>
    </footer>
    
</body> 