.sieteMaridos{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    filter: drop-shadow(4px 2px 10px rgba(88, 87, 87, 0.7));
}

/*.bestar{
    position:relative;
    z-index: 10;
    margin-left: 135px;
}

span{
   font-family: 'Roboto', sans-serif;
   font-size: 22px;
   margin-top: 10px;

}*/

.autor{
    margin-left:20px;
    color: rgb(246, 140, 95);
}

.editorial{
    margin-left:20px;
    color: rgb(246, 140, 95);  
}

.compra{
    background: #F1EF7A;
    font-family: 'Roboto', sans-serif;
    color:#43486a;


}

.precio{
   border-top: solid 35px #F1EF7A;
   margin: 25px;
   font-size: 20px;
}

.agregarProducto{
margin-left: 200px;
text-align: center;
margin-top:-70px ;
}

.cartmas{
    margin-right: 15px;   
}

.envio{
    display:flex;
    justify-content: flex-start;
    margin-top: 15px;
}
.truck{
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 15px;
}

.metodos{
    display:flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.check{
    margin-left: 20px;
    margin-right: 15px;
}

.resenia{
    font-family: 'Roboto';   
    text-align: left;
    padding: 10px;
    font-size: 14;
}

.textoRes{
    font-family: 'Roboto';
    font-size: 14px; 
    margin-top: 20px;
    
    

}

.detalle{
    font-family: 'Roboto';  
    margin-top: 20px; 
    margin-left:-5px;
}

.descripcion{
    font-family: 'Roboto';  
    margin-top: 20px; 
    font-size: 19px;
    margin-bottom: 40px;
}


.titulo{
    font-family: 'Roboto'; 
    color:#43486a;
    font-size: 16px; 
    text-align: center;
    margin-top: 15px;
}

.enlaces{
    font-family: 'Roboto'; 
    color:#43486a;
    font-size: 20px; 
    text-align: center;
    margin-top: 5px;
}

.maindetail {
    margin-top: 50px;
}   