#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 40px;
    margin: 6px 0;
    color: rgba(67, 72, 106, 1);
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(167, 216, 244, 0.8);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: rgba(67, 72, 106, 1.0);
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        line-height: 50px;
    }

    header label {
        display: none;
    }

    menu a {
        border: none;
        border-bottom: none;
    }
}