@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(menu.css);
@import url(books.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(241, 239, 122)
}

header {
    width: 100%;
    height: 70px;
    background: #A7D8F4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    height: 50px;
    float: left;
}

.contenedor {
    width: 98%;
    margin: auto;
    margin-top: 5px;
}

header .contenedor {
    display: table;
}

.lowerbar {
    background: rgba(246, 140, 95, 1);
    height: 30px;
    position: relative;
}

.fa-search {
    display: flex;
    color: white;
    background: rgb(67, 72, 106);
    border: none;
    padding: 6px;
    position: absolute;
    margin-top: 2px;
  
  }
  
  .searchbox {
    margin: 0px;
    padding: 0px;
    border: none;
    background: white;
    height: 25px;
    margin-top: 2px;;
    margin-left: 3px;
  }

  .title {
      margin-top: 120px;
      text-align: center;
      background: rgba(246, 140, 95, 1);
      color: rgb(255, 255, 255);
  }

  footer .container {

      text-align: center;
      padding-bottom: 25px;
      background: rgb(167, 216, 244);
      padding-top: 5px;
      
  }

  footer p {
      font-size: 16px;
      text-align: center;
  }

  footer .bold {
      font-weight: bolder;
  }

  @media (min-width:1024px) {
      header {
          height: 100px;
         }

      .logo {
        height: 80px;
        float: left;
      }

      .lowerbar {
        background: rgba(246, 140, 95, 1);
        height: 40px;
        position: relative;
      }

      .searchbox {
        margin: 0px;
        padding: 0px;
        border: none;
        background: white;
        height: 30px;
        margin-top: 4px;;
        margin-left: 3px;
        width: 20%;
      }

      .fa-search {
        display: flex;
        color: white;
        background: rgb(67, 72, 106);
        border: none;
        padding: 8px;
        position: absolute;
        margin-top: 5px;
        }

        .title {
            margin-top: 160px;
            text-align: center;
            background: rgba(246, 140, 95, 1);
            color: rgb(255, 255, 255);
        }
    }

